/*img {
  max-height: 100%;
}*/

/*h1 {
  font-family: "Roboto";
}*/

.short-body{
  /*background-image: linear-gradient(gray, white);*/
  /*background-color: gray;*/
 /* background-image: url("long-term/front-page/sample-plan.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;*/
}

.center-web {
  background-image: url("short-term/black-white-kitchen2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  text-align: center;
  height: 700px;
}

.center-web h1 {
  margin: auto;
/*  background: linear-gradient(to right, black, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: 'Roboto', sans-serif;
  font-size: 85px;
}

#sub-title {
  font-size: 38px;
  display: flex;
  text-align: center;
}

.top-buffer { margin-top:20px; }

.col-top {
  background-color: #085285;
}

#header {
  text-align: center;
  color: white;
  background-image: url("/building.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

/*.carousel-inner > .item {
   height: 400px;
}

.carousel {
  width:640px;
  height:360px;
}*/

.img {
  image-orientation: from-image;
  border: 10px solid transparent;
}

.img-main {
  width: 600px;
  height: auto;
}

ul li{
  display: inline;
}

.list-inline-item {
  font-size: 20px;
}

.carousel {
  width: 1000px;
  height: auto;
}